<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <div class ="alert alert-success" role="alert">
              <h2 class = "alert-heading">Latest Mars News</h2>
            </div>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
          {{mars.featured_image}}
          <img
            src="{{mars.featured_image}}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <div class ="alert alert-danger" role="alert">
            <h4 class = "alert-heading">Mars Facts</h4>
          </div>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Hemisphere Thumbnails -->
        <div class="row">
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Mars Hemispheres</h4>
          </div>
          <div id="cerberus_image">
            <img
            src="{{mars.cerberus_image}}"
            class="img-thumbnail"
            alt="cerberus_image"
          />
          </div>
        </div>
        <div class="row">
          <div id="schiaparelli_image">
            <img
            src="{{mars.schiaparelli_image}}"
            class="img-thumbnail"
            alt="schiaparelli_image"
          />
          </div>
        </div>
        <div class="row">
          <div id="syrtis_major_image">
            <img
            src="{{mars.syrtis_major_image}}"
            class="img-thumbnail"
            alt="syrtis_major_image"
          />
          </div>
        </div>
        <div class="row">
          <div id="valles_marineris_image">
            <img
            src="{{mars.valles_marineris_image}}"
            class="img-thumbnail"
            alt="valles_marineris_image"
          />
          </div>
        </div>
    </div>
    <br>
    <div class="col-md-11">
      <!-- More Info about Mars and the Solar System! -->
      <div class="row" id="web-links">
        <div class="alert alert-info" role="alert">
          <h3 class="alert-heading"> Now's a great chance to learn more about Mars!</h3>
          <br>
          <p>Go NOW to the <a href="https://space-facts.com/mars/" class="alert-link">Mars Facts Website</a> For cool facts about our martian planet.</p>
          <br>
          <p> <a href="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars" class="alert-link">Learn more about the Mars Hemispheres here!</a></p>
          <br>
          <p>Want more images of space in general?<a href="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars" class="alert-link">Check them out here at NASA's Website!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      </div>
  </div>
</body>
</html>
